{{ define "main" }}
<div class="landing-page-tagline fade-in-up">{{ .Content }}</div>

<div class="landing-page-wrapper">
    <div class="landing-page-content fade-in-up wait-1">
        <div>
            {{- if .Params.roles_current -}}
            <div class="section-card">
                <h2>Current</h2>
                <ul>
                    {{- range .Params.roles_current -}}
                        <li>{{ .text | markdownify }}</li>
                    {{- end -}}
                </ul>
            </div>
            {{- end -}}

            {{- if .Params.roles_prior -}}
            <div class="section-card">
                <h2>Prior</h2>
                <ul>
                    {{- range .Params.roles_prior -}}
                        <li>{{ .text | markdownify }}</li>
                    {{- end -}}
                </ul>
            </div>
            {{- end -}}

            {{- if .Params.call_to_action -}}
            <div class="cta-card">
                {{ .Params.call_to_action | markdownify }}
            </div>
            {{- end -}}
        </div>
    </div>
    
    <div class="landing-page-image fade-in-up wait-2">
        <img class="profile-floating" src="{{ .Params.image }}" alt="{{ .Site.Params.head.author | default "Profile" }}" width="221" height="331">
    </div>
</div>
{{ end }}
